
body {
    font-family: 'Prompt', sans-serif !important;
    background-color: #F6F7FB;
}


.metrob__nav { 
    background-color: white;
    position: relative;
    height: auto;
}
.metrob__second-nav {
    height: 45px;
    background-color: #61B9C0;
}

.metrob__nav-search {
    
    border-color: transparent;
    border-radius: 5px;
    background: #F5F5F5;
}

.metrob__second-nav-menu {
    height: 100%;
    margin: 0;
    padding: 0;
}

.metrob__second-nav-menu > li > a { 
    line-height: 1;
    height: auto;
}

.metrob__slide {
    min-height: 350px;
    padding-right: 0;   
}

.metrob__slide .carousel-indicators {
    bottom: 0 !important;
}

.metrob__slide .carousel-indicators {
    bottom: 0 !important;
}
.metrob__slide .carousel-inner{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .16);
}
.metrob__slide .left.carousel-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.metrob__slide .right.carousel-control {
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card {
    background: #fff;
    border : 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .16);
}

.disable__outline:focus {
    outline: 0 !important;
    border: 1px transparent solid !important; 
    border-width: 1 !important; 
    box-shadow: none !important;
}
.logo {
    position: relative;
}
.logo img {
    margin-top: 0 !important;
}
.flex { display: flex }
.flex-v-center {
    display: flex;
    align-items: center;
}
.flex-h-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SPACE SECTION */
.m-r-5p {
    margin-right: 5%;
}
.m-15 {
    margin: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-l-0{
    padding-left: 0;
}
.p-10{
    padding: 10px;
}
/* END SPACE SECTION */


/* TEXT STYLE SECTION */

.nav__link-text {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
}

/* END TEXT STYLE SECTION */

.header-slider {
    margin-bottom: 10px;
}

.metrob__greeting { 
    min-height: 140px;
}
.metrob__quote { 
    min-height: 180px;
}
