<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-cloud-upload"></i> Upload Image</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="input-group margin">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary">Choose File (.jpeg or .png)</button>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" id="imagePath" value="path">
        </div>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
