.metrop-nav{
	background-color: rgba(56, 66, 76, 0.92) !important;
}
a.btn-primary{
	background-color: #3a4854 !important;
    border-color: #0e2438 !important;
}
.btn-default:hover, .btn-default:focus{
	background-color: #203e44;
    border: 1px solid #182123;
}
.cd-search-btn{
	background-color: #47505a !important;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item h3{
	color:#577159 !important;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item .item-icon span{
	color: rgba(89, 99, 90, 0.39) !important;
}

.cd-primary-nav > li > a.selected{
	box-shadow: inset 0 -6.5px 0 #6b8a6e !important;
}

.cd-primary-nav .see-all a{
	color: #2b542f !important;
}

.cd-overlay{
	background-color: rgba(63, 68, 64, 0.8) !important;
}

.cd-primary-nav .cd-secondary-nav > li > a{
	color: #2b542f !important;
}

.page-header a{
	color: rgb(49, 75, 99) !important;
}

.starActive i{
	color: rgb(208, 195, 85) !important;
}
.has-children .fa-star{
	color: #81826e !important;
}
.has-children .fa-star-o{
	color: #81826e !important;
}

.filter, .search_company_btn, .application div {

	/* Chrome, Safari */
	-webkit-filter: grayscale(0.55);

	/* Firefox */
	filter: grayscale(0.55);

}
.metrop-news-group-content-color, .metrop-news-group-content, .hotline{

	/* Chrome, Safari */
	-webkit-filter: grayscale(0.95);

	/* Firefox */
	filter: grayscale(0.95);
}

.cd-top{
	/*background:rgb(60, 60, 60)  inset:url(../images/down-arrow.svg) no-repeat  center 50% !important;*/
	background:rgb(60, 60, 60)  url(../images/down-arrow.svg) no-repeat  center 50% !important;
}

.metrop-row-content > div > h3 , .metrop-row-content > div > h3 > i{
	color: #135175 !important;
}



.metrop-text-head{
	color: #2c4254 !important;
    border-left: solid #2c485f 5px !important;
}

.portal-loader > div > img{
	margin-left: -150px !important;
    margin-top: 0px !important;
}

.portal-loader > div > h4{
	margin-top: -80px !important;
    color: #7b7b7b !important;
}
.portal-loader div{
	color:#68696b;;
}

.metrop-news-bighead a{
	color: rgb(56, 90, 121) !important;
}

.breadcrumb > li > a{
	color : rgb(103, 133, 160) !important;
}

/*Search Bar*/
.search-form-wrap{
	background: linear-gradient(to bottom, rgb(55, 63, 72) 20%, rgb(86, 95, 105) 43%, transparent) !important;
}
.btn-search-submit{
	background-color: #323d4c !important;
	border: 2px solid rgba(204, 203, 203, 0.47) !important;
}
.btn-search-submit > i{
	color: rgba(251, 251, 251, 0.47) !important;
}
.cd-search-btn.active > a{
	color: #c5c5c5 !important;
}
.cd-search-btn>a:hover{
	color: rgb(255, 255, 255) !important;
}
.cd-search-btn>a{
	color: #dadada !important;
}